.preorder-view {
    & > .toolbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & > .toolbar-group {
        }
    }

    & > .media {
        display: flex;
        flex-direction: column;
        margin: 10px;

        & > .media-row {
            display: flex;
            flex-direction: row;
            align-items: center;

            & > .title {
                width: 100px;
            }

            & > .gallery {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                & > .image-container {
                    padding: 8px;
                }
            }
        }
    }
}
