.preorder-view {
    display: flex;
    flex-direction: column;
    margin: 1vw;
    width: 98vw;
    height: 100vh;
    overflow: hidden;

    & > .preorder-toolbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-shrink: 0;

        & > .btn-group {
            margin: 4px;
        }
    }

    & > .preorder-table {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;

        & > .preorder-table-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            min-height: min-content;

            & > .name {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100px;

                & > .name-text {
                    text-align: center;
                }
            }

            & > .gallery {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                & > .image-container {
                    padding: 8px;
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) {
  .preorder-view {
      & > .preorder-toolbar {
          justify-content: center;
          flex-wrap: wrap;
      }
    }
}
